.my-list-row{
    margin-left:20px;
    color: white;
}

.my-list-posters{
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.my-list-posters::-webkit-scrollbar {
    display: none;
}

.my-list-posters::-webkit-scrollbar {
    display: none;
}

.my-list-poster{
    object-fit:contain;
    width:100%;
    max-height:400px;
    margin-right: 10px;
    opacity: 1; 
    transition: transform 400ms;
      
}

.my-list-poster:hover{
    transform:scale(1.06) ;
    opacity: 1
}
