.profile{
    height: 100vh;
    color: white;
}

.profile-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-body > h1{
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profile-info{
    display: flex;

}

.profile-info > div > img{
    height: 100px;
}

.profile-info > div > h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}

.profile-details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profile-details >h2 {
    background-color: gray;
    padding: 15px;
    font-size: 1rem;
    padding-left: 20px;
    min-width: 25vw;
}

.profile-signout{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.profile-change{
    margin-top: 20px;
}

.profile-change > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profile-info-row{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.profile-info-row:hover{
    opacity: 1;
}

.profile-info-row > button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
